
.footer {
    background-color: var(--footer);
    position: sticky;
    bottom: 0;
    font-family: var(--nav-font);
    font-weight: 800;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.social-links {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.social-icon {
    font-size: 2rem;
    color: var(--primary);
    transition: color 0.2s;

    &:hover {
        color: var(--accent);
    }
}


