main {
    margin-top: 20px;
}

.home-section {
    height: 500px;
    background-color: var(--bg);
}

.about-section {
    height: 500px;
    background-color: var(--secondary);
}

.skills-section {
    height: 500px;
    background-color: var(--bg);
}

.projects-section {
    height: 500px;
    background-color: var(--secondary);
}

.contact-section {
    height: 500px;
    background-color: var(--bg);
}
